
main {
    width: 40%;
    min-width: 25%;
    margin: auto;
    height: 80%;
    background-color:aqua;
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
    border: 5px solid black;
}

.profile {
    height: 40%;
    width: 90%;
    padding-top: 20px;
}


img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


.links {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

.links button {
    width: 80%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 0;
    border: 1px solid black;
    background-color:aqua;
}